<div class="main_content_view_main">
    <tabset>
        <tab heading="Pertinence">
            <div ng-repeat="post in posts">
                {{ post.title }}
            </div>
        </tab>

        <tab heading="autre">
            Au autre
        </tab>
    </tabset>
</div>


<div class="main_content_view_sidebar">

    <div class="sidebar">

        <div class="sidebar_title">

            <p class="sidebar_title_name">Topics Populaires : </p>
            <a class="sidebar_title_link">Tout voir</a>

        </div>

        <div class="sidebar_separator"></div>

        <div class="sidebar_article">

            <div class="sidebar_article-image">
                <img class="sidebar_article-image-cropped" src="http://goo.gl/cXRy2l">
            </div>
            <p class="sidebar_article-description">Les Minions parodient "Jour 1" de Louane et se moquent de sa "bananaphobie"</p>

            <div class="sidebar_article_title">
                <p class="sidebar_article_title_author">Par : cinEma<!--{{ post.author }}--></p>
                <a class="sidebar_article_title_link">voir le post</a>
            </div>

        </div>

        <div class="sidebar_article">

            <div class="sidebar_article-image">
                <img class="sidebar_article-image-cropped" src="https://goo.gl/MpclQP">
            </div>
            <p class="sidebar_article-description">GoPro dévoile sa nouvelle HERO4 Session, toute petite !</p>

            <div class="sidebar_article_title">
                <p class="sidebar_article_title_author">Par : JDG<!--{{ post.author }}--></p>
                <a class="sidebar_article_title_link">voir le post</a>
            </div>

        </div>

        <div class="sidebar_title">

            <p class="sidebar_title_name">Posts Récents : </p>
            <a class="sidebar_title_link">Tout voir</a>

        </div>

        <div class="sidebar_separator"></div>

        <div class="sidebar_article">

            <div class="sidebar_article-image">
                <img class="sidebar_article-image-cropped" src="https://goo.gl/6JOzrp">
            </div>
            <p class="sidebar_article-description">Ce cosplay de Batman Arkham Origins est digne d’une production cinématographique. Voire mieux.</p>

            <div class="sidebar_article_title">
                <p class="sidebar_article_title_author">Par : JDG<!--{{ post.author }}--></p>
                <a class="sidebar_article_title_link">voir le post</a>
            </div>

        </div>

        <div class="sidebar_article">
            <div class="sidebar_article-image">
                <img class="sidebar_article-image-cropped" src="https://goo.gl/fWrOZE">
            </div>
            <p class="sidebar_article-description">Le OnePlus 2 embarquera 4 Go de RAM en LPDDR4</p>

            <div class="sidebar_article_title">
                <p class="sidebar_article_title_author">Par : technologeek<!--{{ post.author }}--></p>
                <a class="sidebar_article_title_link">voir le post</a>
            </div>

        </div>

    </div>

</div>
