<div class="main_view_account">

    <div class="account">
        <div class="account_top">
            <p class="account_top-title">Votre profil</p>
            <p class="account_top-subtitle">Vous pouvez modifier votre profil ici.</p>

            <div class="account_top-separator">
            </div>

        </div>


        <div class="account_container">

            <div account_container_infos>

                <div class="account_container_infos_avatar">
                    <div class="account_container_infos_avatar-image">
                        <img class="account_container_infos_avatar-image-cropped" src="https://avatars2.githubusercontent.com/u/6181197?v=3&s=460">
                    </div>
                </div>

                <div class="account_container_infos_resume">
                    <p class="account_container_infos_resume-name">Marc Duboc</p>
                    <p class="account_container_infos_resume-status">You know Nothing Jean Neige !</p>
                    <i class="account_container_infos_resume-mail fa fa-envelope"><p class="account_container_infos_resume-mail-text">marc.duboc@gmail.com</p></i>
                </div>

                <div class="account_container_infos_numbers">
                    <div class="account_container_infos_numbers-big">
                        <p class="account_container_infos_numbers-big-post">42k</p>
                        <p class="account_container_infos_numbers-big-fav">38</p>
                    </div>
                    <div class="account_container_infos_numbers-text">
                        <p class="account_container_infos_numbers-text-post">Total de posts</p>
                        <p class="account_container_infos_numbers-text-fav">Total de favoris</p>
                    </div>
                </div>

            </div>

            <div class="account_container_content-separator"></div>

            <div class="account_container_separator">
                <div class="account_container_separator-stripe"></div>
                <div class="account_container_separator_category">
                    <p class="account_container_separator_category-name">Basique</p>
                </div>
            </div>
            <br/>

            <div class="account_container_basique">

                <div class="account_container_basique-lastname">
                    <p class="account_container_basique-lastname-text">Nom</p>
                    <input type="text" placeholder="Duboc" class="account_container_basique-lastname-input" />
                </div>

                <div class="account_container_basique-firstname">
                    <p class="account_container_basique-firstname-text">Prénom</p>
                    <input type="text" placeholder="Marc" class="account_container_basique-firstname-input" />
                </div>

                <div class="account_container_basique-pseudo">
                    <p class="account_container_basique-pseudo-text">Pseudonyme :</p>
                    <input type="text" placeholder="IceMaD" class="account_container_basique-pseudo-input" />
                </div>

            </div>

            <div class="account_container_separator">
                <div class="account_container_separator-stripe"></div>
                <div class="account_container_separator_category">
                    <p class="account_container_separator_category-name">Spécifique</p>
                </div>
            </div>

            <div class="account_container_spec">
                <p class="account_container_spec-text">Description</b></p>
                <textarea class="account_container_spec-textarea">Je m'appelle Marc Duboc, je suis un développeur brutal :)</textarea>
            </div>

            <div class="account_container_separator">
                <div class="account_container_separator-stripe"></div>
                <div class="account_container_separator_category">
                    <p class="account_container_separator_category-name">Contact</p>
                </div>
            </div>

            <div class="account_container_contact">
                <div class="account_container_contact-mail">
                    <p class="account_container_contact-mail-text">Email</p>
                    <input type="text" placeholder="Duboc" class="account_container_contact-mail-input" />
                </div>

                <div class="account_container_contact-password">
                    <p class="account_container_contact-password-text">Mot de passe</p>
                    <input type="password" placeholder="**********" class="account_container_contact-password-input" />
                </div>

                <div class="account_container_contact-changepassword">
                    <p>Créer un nouveau mot de passe</p>
                </div>

                <div class="account_container_contact-newpassword">
                    <p class="account_container_contact-newpassword-text">Nouveau mot de passe</p>
                    <input type="password" placeholder="IceMaD" class="account_container_contact-newpassword-input" />
                </div>

                <div class="account_container_contact-passwordconfirm">
                    <p class="account_container_contact-passwordconfirm-text">Confirmer le mot de passe</p>
                    <input type="password" placeholder="IceMaD" class="account_container_contact-passwordconfirm-input" />
                </div>
                <a href="" class="account_container_contact-validate">Valider</a>
            </div>

        </div>

    </div>

</div>
