<div class="main_view_content">

    <div class="account">
        <div account_infos>

            <div class="account_infos_mains">
                <div class="account_infos_mains-image">
                    <img class="account_infos_mains-image-cropped" src="https://avatars2.githubusercontent.com/u/6181197?v=3&s=460">
                </div>
                <p class="account_infos_mains-name">Marc Duboc</p>
            </div>

        </div>

        <div class="account_separator">
            <div class="account_separator-stripe"></div>
            <div class="account_separator_category">
                <p class="account_separator_category-name">Basique</p>
            </div>
            <div class="account_separator-stripe"></div>
        </div>

        <div class="account_basique">
            <p class="account_basique-text">Nom :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Duboc</b></p>
            <i class="account_basique-icon fa fa-cog"></i>
            <p class="account_basique-text">Prénom :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Marc</b></p>
            <i class="account_basique-icon fa fa-cog"></i>
            <p class="account_basique-text">Pseudonyme :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>IceMaD</b></p>
            <i class="account_basique-icon fa fa-cog"></i>
        </div>

        <div class="account_separator">
            <div class="account_separator-stripe"></div>
            <div class="account_separator_category">
                <p class="account_separator_category-name">Spécifique</p>
            </div>
            <div class="account_separator-stripe"></div>
        </div>

        <div class="account_spec">
            <p class="account_spec-text">Description :</b></p>
            <textarea class="account_spec-textarea">Je m'appelle Marc Duboc, je suis un développeur brutal :)</textarea>
        </div>

        <div class="account_separator">
            <div class="account_separator-stripe"></div>
            <div class="account_separator_category">
                <p class="account_separator_category-name">Contact</p>
            </div>
            <div class="account_separator-stripe"></div>
        </div>

        <div class="account_contact">
            <p class="account_contact-text">Ton adresse mail :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>marc.duboc@gmail.com</b></p>
            <i class="account_contact-icon fa fa-cog"></i>
            <p class="account_contact-text">Ton mot de passe :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>p*******</b></p>
            <i class="account_contact-icon fa fa-cog"></i><br/>
            <input class="account_contact-mdp" type="password" placeholder="Nouveau mot de passe"><br/>
            <input class="account_contact-mdp" type="password" placeholder="Confirmer le mot de passe"><br/>
            <a href="" class="account_contact-validate">Valider</a>
        </div>
    </div>
</div>
