<div style="text-align: center; flex: 1 1;">

    <h3 style="font-size: 30px; margin: 50px 0 10px; font-weight: bold;">
        {{ name }}
    </h3>
    <h4 style="font-size: 20px; color: grey; margin: 10px 0;">
        {{ url }}
    </h4>

    <div style="margin: 50px 0 100px;">
        <i style="color: lightgrey; font-size: 150px; margin-bottom: 50px;" class="fa fa-frown-o"></i>
        <h1 style="font-size: 50px; display: block; margin-bottom: 30px;">
            Cette page n'existe pas encore.
        </h1>
        <h2 style="font-size: 40px; display: block;">
            Elle arrivera bientôt !
        </h2>
    </div>

    <a style="border-radius: 30px; text-decoration: none; display: inline-block; margin: 10px 0; font-size: 20px; color: white; padding: 20px 30px; background-color: #31ba87; cursor: pointer;" ng-click="back()">
        Retourner à la page précédente
    </a>

</div>
