$side-nav-width: 240px;

.main{
    display: flex;
    height: calc( 100vh - #{$top-nav-height} );

    &_side-nav {
        transition: margin-left .3s;
        flex: 0 0 $side-nav-width;
        height: 100%;
        &--closed {
            margin-left: -$side-nav-width;
        }
    }

    &_view {
        display: flex;
        flex: 1 1;
        overflow: auto;

        &_content {
            flex: 1 1;
            display: flex;
        }

        &_sidebar {
            flex: 0 0 328px;
            height: 100%;
            background: white;
        }
    }
}
