$search-bar-height-opened: 300px;
$search-bar-height-closed: 50px;

.search-bar {

    text-align: center;
    height: $search-bar-height-opened;
    background-color: $side-nav-gray-darker;

    transition: all .3s;

    &_title,
    &_subtitle {
        color: white;
        line-height: 1em;
        opacity: 1;
        transition: all .2s;
    }

    &_title {
        font-size: 25px;
    }

    &_input-box {
        line-height: $search-bar-height-closed;
        height: $search-bar-height-closed;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_text-input,
    &_search-button {
        box-sizing: border-box;
        background: white;
        border: none;
        padding: 0;
        height: 40px;
        outline: none;
    }

    &_text-input {
        flex: 0 0 250px;
        padding: 10px 0 10px 10px;
    }

    &_search-button {
        cursor: pointer;
        text-align: center;
        flex: 0 0 40px;
    }

    &--closed {
        height: $search-bar-height-closed;
    }

    &--closed &_subtitle,
    &--closed &_title {
        line-height: 0em;
        opacity: 0;
    }

    &--closed.ng-animate &_subtitle,
    &--closed.ng-animate &_title {
        display: block;
    }

    &--closed:not(.ng-animate) &_subtitle,
    &--closed:not(.ng-animate) &_title {
        display: none;
    }
}
