$search-bar-height: 50px;

.search-bar {

    display: flex;
    align-items: center;

    &_text-input,
    &_search-button {
        background-color: #f4f7fa;
        box-sizing: border-box;
        border: none;
        padding: 0;
        height: 40px;
        outline: none;
    }

    &_text-input {
        flex: 1 0;
        padding: 10px 0 10px 10px;
    }

    &_search-button {
        cursor: pointer;
        text-align: center;
        flex: 0 0 40px;
    }

    &--big-rounded &_text-input,
    &--big-rounded &_search-button {
        height: 60px;
    }

    &--big-rounded &_text-input {
        border-radius: 4px 0 0 4px;
    }

    &--big-rounded &_search-button {
        flex: 0 0 60px;
        font-size: 1.2em;
        color: #7d8794;
        border-radius: 0 4px 4px 0;
    }
}
